@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap');

/**********RESET AND OTHER PERSONAL CFGS ************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
    font-family: 'Jokerman';
    src: url('/font/Jokerman.otf') format('otf');
    
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

p {
    margin-bottom: 10px;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html,body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth; 
    line-height: 28px;
    font-size: 1.1rem;
}
.mb1{
    margin-bottom: 1rem;
}

.mb2{
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.mb5 {
    margin-bottom: 5rem;
}

.ml2{
    margin-left: 2rem;
}
.ml3{
    margin-left: 3rem;
}
.mt2{
    margin-top: 2rem;
}
.mt3{
    margin-top: 3rem;
}
.mt5{
    margin-top: 5rem;
}

.mt9{
    margin-top: 9rem;
}

.pd5{
    padding-bottom: 5rem;
}

.colorBack {
    background-color: rgba(128, 151, 128, 0.9); 
}

.colorBack2 {
    background-color: rgba(135, 179, 150, 0.95);
}

.highlightfont {
    color: black;
    font-weight: bold;
}

/*************HEADER ********************/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.textureBack{
    background-image: url(/images/concrete-wall-textured-painted-backdrop.jpg);
    background-size: contain;
    width: 100%;   
}

.textureSeccion{
    background-image: url(/images/concrete-wall-textured-painted-backdrop.jpg);
    background-size: contain;
    width: 100%;   
}

.textureBack2{
    background-image: url(/images/textura-relieve-corteza-marron-arbol-cerca.jpg);
    background-size: contain;
    width: 100%; 
}

.fullnav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    height: 80px;
}

.logo{   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex : 1 0.5;
}

.imglogo{
    background-image: url(/images/LogoSafariGranadaVector.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    padding: 0; 
    margin: 0;    
}
.letrasLogo{
    font-family: 'Jokerman' , sans-serif;
    width: 27%;
    color: rgba(255, 255, 255, 0.95); 
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.nav{ 
    width: 80%;
    flex: 7 2;
}

#menu_on{
    display: flex;
    justify-content: space-evenly;
    Flex: 1 1;
}

#menu_on li{ 
    text-transform: uppercase;  
}

#menu_on li a {
    text-decoration: none;
    list-style-type: none;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease-in;
}

#menu_on li a:hover {
    color: black;
}

.navTickets {
    display: flex;
    background-color: #ff8a2e;
    flex: 1 1;
    height: 100%;
    box-shadow: 2px 1px 1px rgba(20, 1, 2, 0.5);
    border-radius: 3px;  
    justify-content: center;
    align-items: center;
    align-content: center;
}

.getTickets{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 0px 1rem;
}

img.ticket {
    filter: brightness(0) invert(1);
    margin-right: 0.5rem;
    width: 3rem;
    height: 2rem;
}

.navbutton {
    margin: 0;
    border: none; 
    background-color: #ff8a2e;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease-in;
    padding: 0;
}

.botton {
    padding: 25px;
    color: black;
    border-radius: 5px;
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom:5rem;
    background-color: #ff8a2e;
    border: none; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.botton:hover {
    color: black;
}

.navbutton:hover {
    color: black;
}

/********************HERO*******************/


.hero {
    height: 100vh;
    width: 100%;
}

.heroportada{
    height: 100%;
    width: 100%;
    position: relative;
}

.conservationBack {

    height: 100%;
    background-image: url("/images/Contact/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.textHero{
    
    color:green ;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    top:25%;
    left: 5%;

}

.textHero h2 {
    color: #ffa400;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(243, 175, 119, 0,6);
    width: 100%;
    text-align: center;
}

.textHero h1 {
    margin-top: 55px;
    font-size: 7.5rem;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0,5);
    margin-bottom: 55px;
}

.textHero button {
    border-radius: 5px;
    background-color: #ff8a2e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px 12px;
    color: black;
    text-shadow: 1px 1px 1px rgba(20, 1, 2, 0,5);
    box-shadow: 2px 1px 2px rgba(20, 1, 2, 0,5);
    text-transform: uppercase;
    cursor:pointer;
    border:none;
}

/********************THINGSTOKNOWN*********************/

.sections {
    width: 80%;
    margin: 0 auto;
    position: relative;

}

.firstsection{
    height: 50vh;
}

.morethanazoo {
    height: 100%;
    margin-top: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    gap: 6rem;
    
    
}

.moreleft{
    width: 100%;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    
    
}   

.moreright{
    width: 100%;
    flex:1 ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-left: 3rem;
    
    
}

.morethanazoo h2{
    margin-bottom: 3rem;
}

.morethanazoo p {
    margin-bottom: 15px;
}


.h2orange{
    
    font-weight: bold;
    font-size: 1.75rem;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-family: 'Montserrat', sans-serif;
}

.h3orange{
    
    font-weight: 600;
    font-size: 1.55rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-top:10px;
    
}
.moreright {
    position: relative;
    height: 100%;
    
}

.boxright{
    position: absolute;
    height: 150px;
    width: 450px;
    background-color: rgba(253, 130, 36, 0.5);
    border-radius: 5px;
    left: -5%;
    top: 13%;
    z-index: -3;
}

.boxRight2{
    position: relative;
}

.boxright2{
    position: absolute;
    height: 150px;
    width: 450px;
    background-color: rgba(253, 130, 36, 0.5);
    border-radius: 5px;
    left: -5%;
    top: 0%;
    z-index: -3;
}

.moreright p{
    margin-top: 1rem;
}

.h2orange h2{
    padding: 0px;
    margin: 0px;
    position: relative;
}

.h2orange::before {
    content: "";
    position: absolute;
    left: 0.9%;
    top: 20.8%;
    width: 6%; 
    height: 4px; 
    background-color: #ff8a2e;
}

.requisitos {
    color: #ef6218;
    font-weight: 500;
}

.greenBack {
    background-color: rgb(169, 231, 184, 0.85);
    padding: 20px 20px;
    margin: 100px 0px;
}

/********************ICONOS***********************/

.height100{
    height: 100vh;
    width: 100%;
}

.iconos {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
    max-width: 100%;
}

.mapicon , .diningicon, .ridesicon , .infoicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}


/*********************TICKETS AND PRICES********************/

.seccion2{
    
    height: 100vh;
}

.sec2configgeneral {
    height: 100%;
    width: 100%;
}

.seccion2-container {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;
    align-content: baseline;
    align-items: stretch;
    gap: 7rem;
    height: 100%;

}

.ticketsAndPrices{
    flex: 1;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    align-content: stretch;
}

.ticketinfo{
    height: 100%;
    flex:20
}

.ticketinfo h2{
    margin-bottom: 30px;
}

.otherinfo {
    height: 100%;
    flex:20
}

.bookTickets button{
    flex: 1;
    padding: 25px;
    color: black;
    border-radius: 5px;
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom:5rem;
    background-color: #ff8a2e;
    border: none; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease-in;
}


.bookTickets:hover {
    color: black;
}


.fotokoala {
    background-image: url("/images/Contact/koala.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1;
    height: 90%;
    
    position: relative;
    z-index: 45;
}

.boxamarillo {
    position: absolute;
    left: 73%;
    bottom: 0%;
    height: 1100px;
    width: 600px;
    background-color: rgba(255, 230, 175, 0.55);
    z-index: -1;
}

.h2tickets {
    margin-left: 35px;
    font-weight: bold;
    font-size: 1.75rem;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.ticketinfo p{
    line-height: 25px;
    margin-bottom: 25px;
}

.nomarginp p{
    margin-bottom: 0px;
}

.h2tickets::after{
    
    content: "";
    position: absolute;
    left: 0.9%;
    bottom: -55%;
    width: 8%; 
    height: 4px; 
    background-color: #ff8a2e;
}

/*********************MAP*************************/

.mapsection{
    height: 100vh;
    width: 100%;
}
.map-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.mapSimg {
    background-image: url("/images/Contact/Geolocation.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    flex: 1;
    position: relative;
}
.map-findus {
    position: absolute;
    bottom: -250%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    right: 65%;
    background-color: white;
    border-radius: 5px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.map-findus h3{
    margin-bottom: 25px;
}

.map-findus p {
    margin-bottom: 0px;
}

.submapora h3{
    position: relative;
}

.submapora::before {
    content: "";
    position: absolute;
    left: 26.9%;
    top: 40.8%;
    width: 16%; 
    height: 4px; 
    background-color: #ff8a2e;
}


/**********************FORM************************************/

.container-form {
    max-width: 85%;
    flex:1;
}

.container-form h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label{
    display: block;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

button.formsub {
    background-color: #ff8a2e;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;    
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    margin-left: 15rem;
}

button.formsub:hover {
    background-color: #0056b3;
}

.botton:hover {
    color: black;
}

.formsection {
    height: 100vh;
}

.form-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.h2form {
    
    text-align: left;
    font-weight: bold;
    font-size: 1.75rem;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-bottom: 2rem;
}

.h2form::after{
    
    content: "";
    position: absolute;
    left: 27.9%;
    bottom: -55%;
    width: 10%; 
    height: 4px; 
    background-color: #ff8a2e;
}

.formulario {
    flex:1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.fotocabra {
    background-image: url("/images/Contact/form.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1;
    height: 80%;
    position: relative;
    z-index: 45;
}

.boxamarillo2 {
    position: absolute;
    left: -13%;
    bottom: -17%;
    height: 1150px;
    width: 550px;
    background-color: rgba(255, 230, 175, 0.55);
    z-index: -1;
}

/***************MEDIA QUERYS *************************/

@media (max-width: 800px) {

    
    .firstsection{
        width: 90%;
        text-align: left;
    }

    .seccion2-container {
    
        flex-flow: column;
        justify-content: stretch;
        align-content: center;
        align-items: center;
        gap:1rem;
    }

    .animaldescleft{
        width: auto;
        height: auto;
        
    }

    .girlIMG, .visitorIMG , .educationIMG, .buhosIMG{
        width: 100%;
        height: 100%;
    }

    .greenBack {
        margin: 70px 0px;
    }
}



/***********************FOOTER********************/

.bigfoot {
    width: 80%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    font-family: 'Montserrat' , sans-serif;
    color: white;
    font-weight: 500;
}

.columna1foot{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    padding-top: 3rem; 
}
.columna1foot h2{
    font-weight: bold;
    font-size: 1.3rem;
}

.itemcolfoot{
    
    width: 33%;
    display: flex;
    flex-direction: column;
}

.itemcolfootR{
    
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.itemcolfoot ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.itemcolfoot ul {
    margin-top: 2rem;
}


.contactInfo p{
    margin-bottom: 0;
}

.logoFooter img{
    width: 100%;
    opacity: 0.5;
}

img.socialMedia {
    filter: brightness(0) invert(1);
    width: 3rem;
    height: 2rem;
}

.logoFooter img {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    max-width: 100%;
    height: auto;  
}

.socialh2{
    position: relative;
}

.svgs {
    position: absolute;
    left: 44%;
}

.mcenter{
    margin: 0 auto;
}

.mleft {
    margin-left: auto;
}

input.mailfoot[type="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input.mailfootsub[type="submit"] {
    margin-left: 1.5rem;

    padding: 10px 20px;
    background-color: #ff882e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.aboutUs{
    margin-bottom: 2rem;
}




/************* MINI FOOTER *********/

.finalFoot {
    
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 25px 0px;
    width: 80%;
    margin: 0 auto;
}
.titulosfoot {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.colorfinalfoot{
    background-color: #1b1b1b;
}

.copyright p{
    margin-bottom: 0;
    
}
.otherStuff {
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}

#menu_footer{
    display: flex;
    flex-flow: nowrap row;
    padding: 0;
    gap:25px;
    width: 100%;
    margin:0 auto;
}

#menu_footer li a {
    text-decoration: none;
    list-style-type: none;
    color:white;
    transition: color 0.3s ease-in;
    font-size: 1.2rem;
}

#menu_footer li a:hover {
    color: black;
}
/************ MEDIAS QUERYS ******************/

@media (max-width: 1800px) {
    .successYellowBack {
        display: none;
    }
    
}

@media (max-width: 980px) {
    
    #menu_on li a, .navbutton {
        font-size: 1rem;
    }

    .letrasLogo h5{
        font-size: 0.7rem;
    }

}

@media (max-width: 800px){


    #menu_on li a, .navbutton {
        font-size: 0.7rem;
    }
    .fullnav{ 
        height: 70px;
        width: 100%;
    }
    .imglogo{
        height: 70px;
        width: 70px;
    }

    .letrasLogo h5{
        display: none;
    }

    .ticket {
        display: none;
    }

    .firstsection {
        margin-top: 0;
       
    }

    .sections {
        width: 80%;
    }

    .textHero{
        top:65%;
        left: 5%;
    }

    .navbutton{
        display: none;
    }

    .navTickets{
        display: none;
    }
        
    .socialMediaSeccion{
        display: none;
    }

    .logoFooter{
        display: none;
    }
    .finalFoot {
        font-size: 0.8rem;
        width: 100%;
    }

    #menu_footer li a {
        font-size: 0.8rem;
    }

    .bigfoot {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }
    .itemcolfoot {
        width: 100%;
    }

    .contact, .signUp {
        display: none;
    }

    .columna1foot{
        padding: 0rem;
    }
    .aboutUs{
        margin-bottom: 0;
        padding : 2rem 0;
    }

    .finalFoot {
        padding: 25px 10px;
        font-size: 0.7rem;
        line-height: normal;
    }

    .otherStuff{
        font-size: 0.5rem;
        line-height: normal;
    }

    .textureBack {
        margin-top: 0;
    }

    .titulosfoot {
        font-size: 0.9rem !important;
    }

    .itemcolfoot ul li {
        font-size: 0.9rem;
    }

    .logoFooter{
        display: none;
    }
    .textureSeccion {
        margin-top: 10rem;
        width: 100%;
    }

    .visitorIMG {
        margin-bottom: 55px;
    }
    .successYellowBack {
        display: none;
    }

    .success-container {
        height: 80%;
        width: 100%;
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem;
    
    }

    .photoSucess{
        width: 100%;
        flex : 999999999;
    }

    .botton {
        display: none;
    }

    .successh2 {
        margin-bottom: 3rem;
    }

    .success {
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top:  auto;
        height: 90vh;
        

    }
    .mt0 {
        margin-top: 0;
    }

    .h2orange::before {
        content: "";
        position: absolute;
        left: 3.9%;
        top: 0.8%;
        width: 18%; 
        height: 4px; 
        background-color: #ff8a2e;
    }

    .boxamarillo , .boxamarillo2 {
        display: none;
    }

    .form-container {
        flex-direction: column;
        flex-wrap: wrap;
        gap : 0;
    }
    .fotocabra {
        display: none;
    }

    .formsection {
        height: 100%;
        margin: 3rem;
    }
    button.formsub{
        margin-left: 5rem;
    }
    .container-form{
        max-width: 100%;
    }
    .map-container {
        max-width: 100%;
        max-height: 90%;
        margin-top: 7rem;
    }
    .map-findus{
        display: none;
    }
    .mapsection{
        height: 100%;
        width: 100%;
        
    }
    .seccion2-container{
        flex-wrap: wrap;
        align-items: stretch;
    }
    .seccion2 {
        height: 200vh;
    }
    .firstsection {
        height: 100%;
    }

    .moreright{
        display: none;
    }

    .moreleft{
        margin-top: 3rem;
    }

    .h2orange::before {

        left: 0.9%;
        top: 25.8%;
    }

    .textHero h1{
        font-size: 3rem;
    }

    .hero{
        height: 75vh;
    }
    .textHero {
        top:0;
        left:10%;
    }
    .textHero h2{
        display: none;
    }

}
