@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap');

/**********RESET AND OTHER PERSONAL CFGS ************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
    font-family: 'Jokerman';
    src: url('../font/Jokerman.otf') format('opentype');
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

p {
    margin-bottom: 10px;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html,body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth; 
    line-height: 28px;
    font-size: 1.1rem;
}
.mb1{
    margin-bottom: 1rem;
}

.mb2{
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.mb5 {
    margin-bottom: 5rem;
}

.ml2{
    margin-left: 2rem;
}
.ml3{
    margin-left: 3rem;
}
.mt2{
    margin-top: 2rem;
}
.mt3{
    margin-top: 3rem;
}
.mt5{
    margin-top: 5rem;
}

.mt9{
    margin-top: 9rem;
}

.pd5{
    padding-bottom: 5rem;
}

.colorBack {
    background-color: rgba(128, 151, 128, 0.9); 
}

.colorBack2 {
    background-color: rgba(135, 179, 150, 0.95);
}

.highlightfont {
    color: black;
    font-weight: bold;
}

/*************HEADER ********************/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.textureBack{
    background-image: url(../images/concrete-wall-textured-painted-backdrop.jpg);
    background-size: contain;
    width: 100%;   
}

.textureSeccion{
    background-image: url(../images/concrete-wall-textured-painted-backdrop.jpg);
    background-size: contain;
    width: 100%;   
}

.textureBack2{
    background-image: url(../images/textura-relieve-corteza-marron-arbol-cerca.jpg);
    background-size: contain;
    width: 100%; 
}

.fullnav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    height: 80px;
}

.logo{   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex : 1 0.5;
}

.imglogo{
    background-image: url(../images/LogoSafariGranadaVector.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    padding: 0; 
    margin: 0;    
}
.letrasLogo{
    font-family: 'Jokerman' , sans-serif;
    width: 27%;
    color: rgba(255, 255, 255, 0.95); 
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.nav{ 
    width: 80%;
    flex: 7 2;
}

#menu_on{
    display: flex;
    justify-content: space-evenly;
    Flex: 1 1;
}

#menu_on li{ 
    text-transform: uppercase;  
}

#menu_on li a {
    text-decoration: none;
    list-style-type: none;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease-in;
}

#menu_on li a:hover {
    color: black;
}

.navTickets {
    display: flex;
    background-color: #ff8a2e;
    flex: 1 1;
    height: 100%;
    box-shadow: 2px 1px 1px rgba(20, 1, 2, 0.5);
    border-radius: 3px;  
    justify-content: center;
    align-items: center;
    align-content: center;
}

.getTickets{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 0px 1rem;
}

img.ticket {
    filter: brightness(0) invert(1);
    margin-right: 0.5rem;
    width: 3rem;
    height: 2rem;
}

.navbutton {
    margin: 0;
    border: none; 
    background-color: #ff8a2e;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease-in;
    padding: 0;
}

.navbutton:hover {
    color: black;
}

/********************HERO*******************/


.hero {
    height: 100vh;
    width: 100%;
}

.heroportada{
    height: 100%;
    width: 100%;
    position: relative;
}

.conservationBack {

    height: 100%;
    background-image: url("../images/facilities.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.textHero{
    
    color:green ;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    top:70%;
    left: 5%;

}

.textHero h2 {
    color: #ffd100;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px #ffd100;
    width: 100%;
}

.textHero h1 {
    margin-top: 55px;
    font-size: 7.5rem;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0,5);
    margin-bottom: 5rem
}

.textHero button {
    border-radius: 5px;
    background-color: #ff8a2e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px 12px;
    color: black;
    text-shadow: 1px 1px 1px rgba(20, 1, 2, 0,5);
    box-shadow: 2px 1px 2px rgba(20, 1, 2, 0,5);
    text-transform: uppercase;
    cursor:pointer;
    border:none;
}

/********************VISIT*********************/

.sections {
    width: 80%;
    margin: 0 auto;
}

.firstsection {
    height: 150vh;
    
}

.firstsection-container{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.visit {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    gap:5rem;
    flex :1;
    max-height: 50%;
}

.manMap {
    height: 100%;
    background-image: url("../images/Facilities/manMap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex:2 1;
}

.h2orange {
    flex: 1 1;
}

.feedgiraffe {

    height: 100%;
    background-image: url("../images/Facilities/feedjiraf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex : 2 1;
}

.visitOurFacilities {

    color: black;
    flex :2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
}

.visitOurFacilities p {
    margin-bottom: 15px;
    text-align: left;
}

.h2orange{
    align-self: baseline;
    font-weight: bold;
    font-size: 1.75rem;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.h2orangeR h2{
    padding: 0px;
    margin: 0px;
    position: relative;
}

.h2orangeR::before {
    content: "";
    position: absolute;
    left: 53%;
    bottom: -32.5%;
    width: 4%; 
    height: 4px; 
    background-color: #ff8a2e;
}

.h2orangeL h2{
    padding: 0px;
    margin: 0px;
    position: relative;
}

.h2orangeL::before {
    content: "";
    position: absolute;
    left: 11%;
    top : 212%;
    width: 4%; 
    height: 4px; 
    background-color: #ff8a2e;
}
.greenBack {
    background-color: rgb(169, 231, 184, 0.85);
    padding: 20px 20px;
    margin: 100px 0px;
}

.whiteBack {
    background-color: rgba(226, 210, 158, 0.85);
    padding: 20px 20px;
    margin: 100px 0px;
}
.aquaBack {
    background-color: rgba(141, 186, 212, 0.85);
    padding: 20px 20px;
    margin: 100px 0px;
}
.desertBack {
    background-color: rgba(214, 128, 107, 0.85);
    padding: 20px 20px;
    margin: 100px 0px;
}

/*********************SECCION2********************/

.seccion2{
    
    height: 100vh;
}

.seccion2-container {
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.seccion2alt-container {
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    gap: 6rem;
    height: 30%;
    width: 100%;
    margin: 0 auto;
}

.coltext , .col3fotos {
    flex: 1;

}
.col3fotos {
    height: 100%;
    flex: 1;
}

.row3foticos {
    display: flex;
    justify-content: space-between;
    gap:1rem;
    height: 100%;
}

.animaldescleft {
    
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: auto;
    height: 100%;

}

.lefDesc, .leftFoto {
    flex : 1 1;

}

.leftDesc {
    padding-bottom: 30px;
}

.leftFoto {
    height: auto;
    width: 100%;
}

.macacoIMG{
    background-image: url("../images/Facilities/macaco.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: 100%
}

.loroIMG {
    background-image: url("../images/Facilities/birdLongPeak.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: auto;
}

.camelIMG {
    
    background-image: url("../images/Facilities/camel.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: 100%

}

.desertfoxIMG {
    
    background-image: url("../images/Facilities/desertfox.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: 100%

}

.leonIMG {

    background-image: url("../images/Facilities/tiger-looking-with-open-mouth.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: 100%
}

.jirafaIMG {
    background-image: url("../images/Facilities/jirafa.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: 100%
}

.foca {
    background-image: url("../images/Facilities/pexels-elianne-dipp-4666747.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: 100%
}

.rana {
    background-image: url("../images/Facilities/pexels-thierry-fillieul-674318.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: 100%
}

.pez {
    background-image: url("../images/Facilities/fish.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    width: 100%
}

.piscina {
    background-image: url("../images/Facilities/zachary-spears-DcweRpj62Ds-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    width: 100%;
    margin-top: 3.6rem;
}

/***********************SHOPS**************************/

.visitshops{
    
    height: 140vh;
}

.shoppys {
    height: auto;
}

.visitshops-container {
    height: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5rem;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.shoppys p {
    margin-bottom: 25px;
}

.tienda1 {
    background-image: url("../images/Facilities/restroom.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    position: relative;
}

.tienda1mensaje{
    position: absolute;
    bottom: 10%;
    left : 35%;
    color: rgba(246, 242, 242);
}

.tienda2mensaje{
    position: absolute;
    top: 855%;
    right : 26%;
    color: rgba(246, 242, 242);
}

.tienda3mensaje{
    position: absolute;
    bottom: -819%;
    left : 46%;
    color: rgba(246, 242, 242);
}

.estilosFuente {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(246, 242, 242,);
    text-shadow: 1px unset 1px 1px rgba(246, 242, 242,0.5);
    font-size: 2rem;

}

.cuadro {

    height: 800px;
    width: 1100px;
    position: absolute;
    background-color: rgba(255, 230, 175, 0.55);
    bottom:-170%;
    left:30%;
    z-index: -1;
}

.tienda2 {
    background-image: url("../images/Facilities/picnic.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 100%;
    
}

.tienda3 {
    background-image: url("../images/Facilities/gifts.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex :1 1;
    height: 40%;
    width: 80%;
    margin: 0 auto;
}


/***********************FOOTER********************/

.bigfoot {
    width: 80%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    font-family: 'Montserrat' , sans-serif;
    color: white;
    font-weight: 500;
}

.columna1foot{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    padding-top: 3rem; 
}
.columna1foot h2{
    font-weight: bold;
    font-size: 1.3rem;
}

.itemcolfoot{
    
    width: 33%;
    display: flex;
    flex-direction: column;
}

.itemcolfootR{
    
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.itemcolfoot ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.itemcolfoot ul {
    margin-top: 2rem;
}


.contactInfo p{
    margin-bottom: 0;
}

.logoFooter img{
    width: 100%;
    opacity: 0.5;
}

img.socialMedia {
    filter: brightness(0) invert(1);
    width: 3rem;
    height: 2rem;
}

.logoFooter img {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    max-width: 100%;
    height: auto;  
}

.socialh2{
    position: relative;
}

.svgs {
    position: absolute;
    left: 44%;
}

.mcenter{
    margin: 0 auto;
}

.mleft {
    margin-left: auto;
}

input[type="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #ff882e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.aboutUs{
    margin-bottom: 2rem;
}




/************* MINI FOOTER *********/

.finalFoot {
    
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 25px 0px;
    width: 80%;
    margin: 0 auto;
}
.titulosfoot {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.colorfinalfoot{
    background-color: #1b1b1b;
}

.copyright p{
    margin-bottom: 0;
    
}
.otherStuff {
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}

#menu_footer{
    display: flex;
    flex-flow: nowrap row;
    padding: 0;
    gap:25px;
    width: 100%;
    margin:0 auto;
}

#menu_footer li a {
    text-decoration: none;
    list-style-type: none;
    color:white;
    transition: color 0.3s ease-in;
    font-size: 1.2rem;
}

#menu_footer li a:hover {
    color: black;
}
/************ MEDIAS QUERYS ******************/

@media (max-width: 980px) {
    
    #menu_on li a, .navbutton {
        font-size: 1rem;
    }

    .letrasLogo h5{
        font-size: 0.7rem;
    }

}

@media (max-width: 800px){


    #menu_on li a, .navbutton {
        font-size: 0.7rem;
    }
    .fullnav{ 
        height: 70px;
        width: 100%;
    }
    .imglogo{
        height: 70px;
        width: 70px;
    }

    .letrasLogo h5{
        display: none;
    }

    .textHero h2{
        display: none;
    }
    
    .textHero h1 {
        margin-top: 0px;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .feedgiraffe , .manMap , .macacoIMG , .loroIMG  {
        
        width: 100%;
        margin-top: 2rem;
    }
    .ticket {
        display: none;
    }

    .visit {
        margin-top: 0;
        gap : 0;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .firstsection {
        margin-top: 0;
        height: 300vh;
    }
    .firstsection-container {
        width: 90%;
        justify-content: center;
        align-items: center;
        align-items: center;
        
    }

    .sections {
        width: 90%;
    }

    .textHero{
        top:15%;
        left: 5%;
    }

    .textHero h1 {
        font-size: 2rem;
        line-height: 40px;
    }

    .navbutton{
        display: none;
    }

    .navTickets{
        display: none;
    }
        
    .socialMediaSeccion{
        display: none;
    }

    .logoFooter{
        display: none;
    }
    .finalFoot {
        font-size: 0.8rem;
        width: 100%;
    }

    #menu_footer li a {
        font-size: 0.8rem;
    }

    .bigfoot {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }
    .itemcolfoot {
        width: 100%;
    }

    .contact, .signUp {
        display: none;
    }

    .columna1foot{
        padding: 0rem;
    }
    .aboutUs{
        margin-bottom: 0;
        padding : 2rem 0;
    }

    .finalFoot {
        padding: 25px 10px;
        font-size: 0.7rem;
        line-height: normal;
    }

    .otherStuff{
        font-size: 0.5rem;
        line-height: normal;
    }

    .textureBack {
        margin-top: 0;
    }

    .titulosfoot {
        font-size: 0.9rem !important;
    }

    .itemcolfoot ul li {
        font-size: 0.9rem;
    }

    .logoFooter{
        display: none;
    }
    .textureSeccion {
        margin: auto;
        width: 90%;
    }
    .seccion2 {
        width: 90%;
        margin: 0 auto;
        height: 250vh;
    }

    .seccion2-container {
        flex-flow: column nowrap;
        width: 100%;
        height: 100%;
    }

    .animaldescleft {
        flex: 1;
        height: auto;
    }

    .piscina {
        display: none;
    }

    .seccion2alt-container {
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 6rem;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .col3fotos {
        width: 100%;
        flex: 3 1;
    }

    .row3foticos {
        flex-flow: column wrap;
        
        align-items: stretch;
        justify-content: stretch;
        align-content: stretch;
    }

    .cuadro {
        display: none;
    }

    .visitshops-container {
        height: 33%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 5rem;
        margin: auto;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }

    .visitshops{
    
        height: 210vh;
    }

    .tienda1 {
        height: 50%;
        width: 100%;
    }

    .tienda2 {
        height: 50%;
        width: 100%;
    }

    .tienda3 {
        display: none;
    }
    .visitshops {
        display: none;
    }

    .seccion2 {
        margin-bottom: 5rem;
    }
    .coltext {
        flex : 0;
    }
    .sections{
        margin-top: 5rem;
    }
    .h2orange {
        flex:0;
    }
    .visitOurFacilities{
        flex :1;
    }

    .h2orangeR::before {
            content: "";
            position: absolute;
            left: 15%;
            bottom: -125.5%;
    }

    .h2orangeL::before {
        content: "";
        position: absolute;
        left: 14%;
        top: 270%;
}
    


}
